*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.nav {
  --bs-nav-link-color: #197e0b;
  --bs-nav-link-hover-color: #197e0b;
}

.nav-link {
  color: black;
  font-weight: 500;
}

.sticky-header {
  background-color: white;
  position: sticky;
  inset-block-start: 0;
  z-index: 9999;
}

.hero {
  width: 100%;
  background: linear-gradient(103deg, #197e0b 0%, #1ca009 79%);
  justify-content: space-between;
  align-items: center;
  display: inline-flex;
}

.btn-light {
  font-weight: bold;
  color: #197e0b;
}

.btn-light:hover {
  font-weight: bold;
  color: white;
  background-color: #197e0b;
  border: solid 1px white;
}

.card {
  color: white;
  background: linear-gradient(
    180deg,
    rgba(27.75, 160.44, 9.36, 0) 0%,
    #197e0b 100%
  );
}

.bg-footer {
    background-color: #197e0b;
    color: white;
}

.bg-white {
    background-color: white;
    border-radius: 100px;
}

.kontak {
    color: white;
    text-align: center;
}

.kontak a {
    color: white;
}

.predict-container {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  grid-template-rows: repeat(2, minmax(50px, auto));
  gap: 24px;
}

#dropArea {
  margin-block-end: 16px;
  padding: 20px;
  border: 2px dashed #197e0b;
  border-radius: 12px;
  background-color: white;
  color: black;

}

#plantFile {
  display: none;
}

#plantFileLabel {
  border: solid 2px #197e0b;
}

#previewImg {
  margin-block-start: 8px;
}

#previewImg img {
  width: 20%;
}

#dropArea {
  border: 2px dashed #ccc;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  background-color: #f9f9f9;
  margin-top: 10px;
  cursor: pointer;
}
#dropArea.dragover {
  background-color: #e9f7ef;
  border-color: #28a745;
}
#previewImg img {
  max-width: 100%;
  margin-top: 10px;
}